.loading {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(71, 64, 64, 0.3);
  border-radius: 50%;
  border-top-color: #4001c7;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 3rem;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
